{% extends "templates/web.html" %}

{% block page_content %}

    <div class="article-details">
        <img src="{{ image }}" alt="{{ title }}" style="max-width: 100%; height: auto; margin-bottom: 20px;" />

        <h1>{{ title }}</h1>
        <h4>By {{ author }}</h4>

        <p>Status: <strong>
            {%- if status == 'Available' -%}
                Available
            {%- elif status == 'Issued' -%}
                Issued
            {%- endif -%}
        </strong></p>

        <p><strong>Publisher:</strong> {{ publisher }}</p>
        <p><strong>ISBN:</strong> {{ isbn }}</p>

        <div class="description">
            <p>{{ description }}</p>
        </div>
    </div>

{% endblock %}